<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Welcome to Seagle!</title>

        <style>
            #content {
                width: 500px ;
                margin-left: auto ;
                margin-right: auto ;
            }
        </style>
    </h:head>
    <h:body>
        <div id="content">
            <h:graphicImage value="resources/images/seagle_logo.png"/>

        </div>

    </h:body>
</html>

